[submodule "KitX Docs"]
	path = KitX Docs
	url = git@github.com:Crequency/KitX-Docs.git
[submodule "Reference/Common.ExternalConsole"]
	path = Reference/Common.ExternalConsole
	url = git@github.com:Crequency/Common.ExternalConsole.git
[submodule "Reference/Common.BasicHelper"]
	path = Reference/Common.BasicHelper
	url = git@github.com:Crequency/Common.BasicHelper.git
[submodule "Reference/Common.Activity"]
	path = Reference/Common.Activity
	url = git@github.com:Crequency/Common.Activity.git
[submodule "Reference/Common.Update"]
	path = Reference/Common.Update
	url = git@github.com:Crequency/Common.Update.git
[submodule "Reference/Common.Algorithm"]
	path = Reference/Common.Algorithm
	url = git@github.com:Crequency/Common.Algorithm.git
[submodule "KitX Standard/KitX File Formats"]
	path = KitX Standard/KitX File Formats
	url = git@github.com:Crequency/KitX-File-Formats.git
[submodule "KitX SDK"]
	path = KitX SDK
	url = git@github.com:Crequency/KitX-SDK.git
