[submodule "KitX Clients/KitX Dashboard"]
	path = KitX Clients/KitX Dashboard
	url = git@github.com:Crequency/KitX-Dashboard.git
[submodule "KitX Clients/KitX Installer"]
	path = KitX Clients/KitX Installer
	url = git@github.com:Crequency/KitX-Installer.git
[submodule "KitX Clients/KitX Mobile"]
	path = KitX Clients/KitX Mobile
	url = git@github.com:Crequency/KitX-Mobile.git
[submodule "KitX Clients/KitX Website"]
	path = KitX Clients/KitX Website
	url = git@github.com:Crequency/KitX-Website.git
[submodule "KitX Docs"]
	path = KitX Docs
	url = git@github.com:Crequency/KitX-Docs.git
[submodule "KitX SDK"]
	path = KitX SDK
	url = git@github.com:Crequency/KitX-SDK.git
[submodule "Reference/Common.ExternalConsole"]
	path = Reference/Common.ExternalConsole
	url = git@github.com:Crequency/Common.ExternalConsole.git
[submodule "Reference/Common.BasicHelper"]
	path = Reference/Common.BasicHelper
	url = git@github.com:Crequency/Common.BasicHelper.git
[submodule "Reference/Common.Activity"]
	path = Reference/Common.Activity
	url = git@github.com:Crequency/Common.Activity.git
[submodule "Reference/Common.Update"]
	path = Reference/Common.Update
	url = git@github.com:Crequency/Common.Update.git
[submodule "Reference/Common.Algorithm"]
	path = Reference/Common.Algorithm
	url = git@github.com:Crequency/Common.Algorithm.git
[submodule "KitX Standard"]
	path = KitX Standard
	url = git@github.com:Crequency/KitX-Standard.git
[submodule "Reference/CSharpell"]
	path = Reference/CSharpell
	url = git@github.com:Dynesshely/CSharpell.git
