@using Microsoft.AspNetCore.Components.Web
@namespace KitX_Website.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="~/" />
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
    <link href="css/site.css" rel="stylesheet" />

    <link href="css/download-area.css" rel="stylesheet" />

    <link href="KitX Website.styles.css" rel="stylesheet" />
    <!--font awesome-->
    <link href="fontawesome/css/fontawesome.min.css" rel="stylesheet">
    <link href="fontawesome/css/brands.min.css" rel="stylesheet">
    <link href="fontawesome/css/solid.min.css" rel="stylesheet">
    <!--font awesome-->
    <component type="typeof(HeadOutlet)" render-mode="ServerPrerendered" />
</head>
<body>
    @RenderBody()

    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            An error has occurred. This application may no longer respond until reloaded.
        </environment>
        <environment include="Development">
            An unhandled exception has occurred. See browser dev tools for details.
        </environment>
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>

    <script src="_framework/blazor.server.js" type="text/javascript"></script>
    @*<script src="js/download-area.js" type="text/javascript"></script>*@
</body>
</html>
