@page "/"
@inject Toolbelt.Blazor.I18nText.I18nText I18nText

<PageTitle>@Text["Page_Title_Home"]</PageTitle>

<div>
    <embed src="https://source.catrol.cn/icons/Project/Catrol/KitX/KitX.svg"
           type="image/svg+xml"
           width="150" height="150"
           style="margin:0 auto;display:table;" />
    <div style="height:30px;" />
    <div style="margin:0 auto;display:table;">
        <h1>@Text["KitX_Name"]</h1>
    </div>
    <div style="height:20px;" />
    <div style="margin:0 auto;display:table;align-items:center;">
        <img src="https://img.shields.io/badge/Windows-0078D6?style=for-the-badge&logo=windows&logoColor=white"
             alt="windows" />
        <img src="https://img.shields.io/badge/Linux-FCC624?style=for-the-badge&logo=linux&logoColor=black"
             alt="linux" />
        <img src="https://img.shields.io/badge/mac%20os-000000?style=for-the-badge&logo=macos&logoColor=F0F0F0"
             alt="macos" />
        <img src="https://img.shields.io/badge/Android-3DDC84?style=for-the-badge&logo=android&logoColor=white"
             alt="android" />
        <img src="https://img.shields.io/badge/iOS-000000?style=for-the-badge&logo=ios&logoColor=white"
             alt="ios" />
    </div>
</div>

<SurveyPrompt Title="@Text["KitX_Descr"]" />

@code {
    I18nText.Text Text = new I18nText.Text();

    protected override async Task OnInitializedAsync()
    {
        Text = await I18nText.GetTextTableAsync<I18nText.Text>(this);
    }
}
