.page {
    position: relative;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

.sidebar {
    background-image: linear-gradient(180deg, #7F7FD5 0%, #86A8E7 50%, #91EAE4 100%);
}

.top-row {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row ::deep a, .top-row .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth) {
        display: none;
    }

    .top-row.auth {
        justify-content: space-between;
    }

    .top-row a, .top-row .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page {
        flex-direction: row;
    }

    .sidebar {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row, article {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}

.footer::before {
    content: '';
    display: block;
    height: 50px;
}

.footer .form-row {
    background-color: #e6e6e6;
    padding: 8px;
    margin: 0;
    position: fixed;
    right: 0;
    left: 250px;
    bottom: 0;
}

    .footer .form-row select {
        background-color: transparent;
    }

@media (max-width: 640.98px) {
    .footer .form-row {
        left: 0;
    }
}

.survay-prompt a {
    font-weight: bold;
}

.runtime-information {
    font-size: 14px;
    font-weight: bold;
}